$siteheadercolor: #000000;
$menbtncolor: #cccccc;
//
//BLACKS
$black:#000000;
$mdblack:#090909;
$ltblack:#121212;
//
//GRAYS
$dkgray:#333333;
$mdgray:#656565;
$ltgray:#CCCCCC;
//
//WHITES
$white:#FFFFFF;
//
//ACCENTS
$accent:orange;
$errorcolor:#CC0000;