.aboutsection {
    .wp-block-columns {
        display: grid;
        grid-gap: 2rem;
        h3 {
            font-family: 'fontbold', sans-serif;
            margin: 0 0 0.5rem 0;
        }
        p {
            margin: 0 0 1rem 0;
            &.buttonlook {
                margin: 0 0.5rem 0.8rem 0;
            }
        }
    }
    @media (min-width:768px) {
        .wp-block-columns {
            grid-template-columns: 1fr 1fr;
            grid-gap: 3rem;
        }
    }
    @media (min-width:1366px) {
        .wp-block-columns {
            grid-template-columns: 1fr 1fr;
            grid-gap: 5rem;
        }
    }
}