@use '../abstracts/' as *;
//
.contactsection {
    position: relative;
    >.wrapper {
        padding: 8rem 1rem;
        max-width: $maxwidth;
        margin: auto;
    }
    .formrow {
        margin: 0 0 0.875rem 0;
    }
    .btn {
        border: 1px solid;
        padding: 0.5rem;
        font-size: 0.875rem;
        margin: 0 0.5rem 0 0;
    }
}

.invalid-feedback {
    font-size: $smfontsize;
    text-align: right;
}

.thankyou {
    @include mcStretch(absolute);
    line-height: 1;
    text-align: center;
    display: none;
    &.active {
        display: block;
    }
    >.wrapper {
        @include mcCenter;
    }
    .headline {
        font-size: $hugefontsize;
        font-weight: $blackfontweight;
        text-transform: uppercase;
    }
}