@use '../abstracts/' as *;
//
.contactsection {
    position: relative;
    form {
        max-width: 1180px;
        margin: auto;
    }
    .formrow {
        margin: 0 0 0.875rem 0;
    }
    .btn {
        border: 1px solid;
        padding: 0.5rem;
        font-size: 0.875rem;
        margin: 0 0.5rem 0 0;
    }
}

.invalid-feedback {
    font-size: 0.75rem;
    text-align: right;
}

.thankyou {
    line-height: 1;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    &.active {
        display: block;
    }
    >.wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .headline {
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
    }
}