.portfolioitem {
    padding: 1rem 1rem 5rem;
    &:last-child {
        padding: 0 1rem 0;
    }
    .wp-block-columns {
        display: grid;
        grid-gap: 1rem;
    }
    .wp-block-buttons {
        margin: 0 0 1rem 0;
    }
    .wp-block-button {
        margin: 1.5rem 0.5rem 0 0;
        display: inline-block;
        >a {
            background-color: black;
            border: 2px solid white;
            box-shadow: 0 0 4px black;
        }
    }
    .buttonlook {
        margin: 1rem 0.5rem 0 0;
    }
    @media (min-width:1024px) {
        padding: 1rem 4rem 8rem;
        .wp-block-columns {
            max-width: 1180px;
            margin: auto;
            grid-template-columns: 1.5fr 1fr;
            grid-gap: 2rem;
            align-items: center;
        }
        &.miscsection {
            .wp-block-columns {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
    @media (min-width:1366px) {
        padding: 1rem 1rem 10rem;
        .wp-block-columns {
            grid-gap: 5rem;
        }
    }
}