@use '../abstracts/' as *;
//
body {
    background-color: $black;
    color: $white;
}

.siteheader {
    background-color: rgba($black, 0.8);
}

.pagesmenu {
    ul {
        color: $white;
        background-color: rgba($black, 0.8);
        li {
            border-color: rgba($white, 0.1);
        }
    }
    @media #{$tab} {
        ul {
            background-color: transparent;
            li {
                border-color: transparent;
            }
        }
    }
}

.introsection {
    background-color: $black;
}

.aboutsection {
    background-color: $mdblack;
    color: $white;
}

.portfoliosection {
    background-color: $ltblack;
    color: $white;
}

.portfolioitem {
    .wp-block-button {
        >a {
            background-color: $black;
            border: 2px solid $white;
            box-shadow: 0 0 4px $black;
        }
    }
}

.color-white {
    color: $white;
}

.skill-list {
    >* {
        background-color: $dkgray;
    }
}

.sectionheading {
    h2 {
        &:after {
            background: $accent;
        }
    }
}

.sitefooter {
    background: $black;
    color: $mdgray;
}

.contactsection {
    background-color: $mdblack;
}

.thankyou {
    background-color: rgba($black, 0.25);
}

input,
textarea {
    color: $dkgray;
    background-color: $ltgray;
    &:focus-visible {
        outline: 2px solid $accent;
    }
    &.is-invalid {
        &:focus-visible {
            outline: 2px solid $errorcolor;
        }
    }
}

.invalid-feedback {
    color: $errorcolor;
}