body {
    background-color: black;
    color: white;
}

.siteheader {
    background-color: rgba(black, 0.8);
}

.pagesmenu {
    ul {
        color: white;
        background-color: rgba(black, 0.8);
        li {
            border-color: rgba(white, 0.1);
        }
    }
    @media (min-width:768px) {
        ul {
            background-color: transparent;
            li {
                border-color: transparent;
            }
        }
    }
}

.aboutsection {
    background-color: #090909;
    color: white;
}

.portfoliosection {
    background-color: #121212;
    color: white;
}

.color-white {
    color: white;
}

.buttonlook {
    background-color: #333;
}

.sectionheading {
    h2 {
        &:after {
            background: orange;
        }
    }
}

.sitefooter {
    background: black;
    color: #656565;
}

.blogpage {
    .disclaimer {
        color: white;
    }
}