@forward 'reset';
@forward 'text';
@forward 'thumb';
@forward 'sidebar';
@forward 'sitelogo';
@forward 'forms';
@forward 'colors';
//
.fullsection {
    >.wrapper {
        padding: 8rem 1rem;
        max-width: 1180px;
        min-height: calc(100vh - 50px);
        margin: auto;
    }
}

.fw {
    width: 100%;
}

.posrel {
    position: relative;
}

.absocenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttonlook {
    font-family: 'fontbold', sans-serif;
    display: inline-block;
    padding: 1rem 0.6rem;
    line-height: 0;
    border-radius: 0.5rem;
}

.sectionheading {
    text-align: center;
    margin: 0 0 4rem 0;
    h2 {
        font-size: clamp(2rem, 1.4262rem + 3.2787vw, 3rem);
        text-transform: uppercase;
        line-height: 1.25;
        &:after {
            content: '';
            display: block;
            position: relative;
            height: 0.25rem;
            width: 4rem;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 999px;
            margin: 1rem 0;
        }
    }
    @media (min-width:768px) {
        h2 {
            letter-spacing: 0.3rem;
        }
    }
}

.blogpage {
    .disclaimer {
        font-size: 0.6rem;
        text-align: center;
        padding: 1rem 1rem 0;
    }
}

.clickanywhere {
    position: fixed;
    left: 50%;
    bottom: 3rem;
    transform: translateX(-50%);
    background-color: rgba(black, 0.9);
    line-height: 0;
    color: white;
    border-radius: 999px;
    padding: 1rem;
    white-space: nowrap;
    text-transform: uppercase;
}

.winoverlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.sitewrapper {
    min-height: 100vh;
}