@use '../abstracts/' as *;
//
html,
body {
    font-family: $basefontfam;
    font-size: $basefontsize;
    line-height: $baselineheight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headingfontfam;
}

h1,
h2 {
    font-weight: $blackfontweight;
}

h3,
h4,
h5,
h6 {
    font-weight: $boldfontweight;
}

h1 {
    font-size: $defh1;
}

h2 {
    font-size: $defh2
}

h3 {
    font-size: $defh3;
}

h4 {
    font-size: $defh4
}

h5 {
    font-size: $defh5
}

h6 {
    font-size: $defh6
}

label {
    font-size: $smfontsize;
}

input,
textarea {
    font-size: $basefontsize;
}

.has-text-align-center {
    text-align: center;
}

.has-text-align-right {
    text-align: right;
}