.ripplebtn {
    .ripple {
        position: absolute;
        background: #fff;
        transform: translate(-50%, -50%);
        pointer-events: none;
        border-radius: 50%;
        animation: animate 0.5s linear forwards;
    }
}

@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0;
    }
    25% {
        opacity: 0.8;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}